@model IEnumerable<Clinica.Objects.Medicamento>
@{
    ViewBag.Title = "DetallesCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id_cita = 1;
    string paciente = "Victor";
    string nombreCompleto = "Victor Manuel Vásquez Poblete";
}
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
<div class="">
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                <span>Detalles de la cita</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                <span>Generar Receta</span>
            </a>
        </li>
    </ul><br /><br />
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-md-12 text-white ">
                    <h3 class="text-center text-black-50">Detalles Cita</h3>
                    <table class="mb-0 table table-dark" style="font-size:20px;">
                        <thead>
                            <tr>
                                <th>Nombre completo del paciente</th>
                                <th>Fecha de la cita</th>
                                <th>Hora de la cita</th>
                                <th>Observación de la  cita</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Erick Mitchell Echeverría Celaya</td>
                                <td>30/04/2020</td>
                                <td>15:30</td>
                                <td>Dolor de estomago</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
            <div class="row">
                <div class="col-md-12 text-white ">
                    <h3 class="text-center text-black-50">Generar Receta</h3>
                    <div class="mb-3 card card-body">
                        @using (Html.BeginForm())

                        {
                            <input type="hidden" name="id_cita" value="@id_cita" />
                            <input type="hidden" name="paciente" value="@paciente" />
                            <input type="hidden" name="nombreCompleto" value="@nombreCompleto" />


                            <h5 class="card-title">Formulario Receta</h5>
                            <div class="form-row">
                                <div class="col-md-12 mb-12">
                                    <label for="validationCustom01" class="text-black-50">Observaciones</label>
                                    <textarea class="form-control" id="observacion" name="observacion" placeholder="Obserciones" required ></textarea>
                                </div>
                                <div class="col-md-12 mb-12">
                                    <br />
                                    <label for="validationCustom01" class="text-black-50">Instrucciones</label>
                                    <textarea class="form-control" id="indicaciones" name="indicaciones" placeholder="Indicaciones" required></textarea>
                                </div>
                                <label for="validationCustom01" class="text-black-50">Medicamentos</label>
                                <div class="col-md-12 mb-12 bg-secondary">
                                    <br />
                                    <table class="table table-hover text-center" id="dataTable_Medicamentos">
                                        <thead class="">
                                            <tr>
                                                <th class="text-center">
                                                    Nombre del medicamento
                                                </th>
                                                <th class="text-center">
                                                    Dosis
                                                </th>
                                                <th class="text-center">
                                                    Precio
                                                </th>
                                                <th>
                                                    Indicaciones
                                                </th>
                                                <th>Agregar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.nombre
                                                    </td>
                                                    <td>
                                                        @item.dosis
                                                    </td>
                                                    <td>
                                                        @item.precio
                                                    </td>
                                                    <td>
                                                        @item.indicaciones
                                                    </td>
                                                    <td><input type="checkbox" name="ids_medicamentos" value="@Json.Encode(item)" /></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div><br /><br />
                            <button class="btn btn-primary">Generar</button>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script>
        $('#dataTable_Medicamentos').DataTable({
            "destroy": false,
            pageLength: 7,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            lengthMenu: [[5, 10, 15], [5, 10, 15]]
        });

    </script>
